<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    
    #If your site is not at the webroot level you will have to uncomment 
    #the RewriteBase statement and adjust the path to point to your
    # directory, relative from the webroot.

    #RewriteBase /path/to/app
    
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>